function Keyboard.init 0
	push constant 24576
	pop static 0
	push constant 0
	return
function Keyboard.keyPressed 1
	push static 0
	call Memory.peek 1
	pop local 0
	push local 0
	return
function Keyboard.readChar 1
label L45
	call Keyboard.keyPressed 0
	push constant 0
	eq
	not
	if-goto L46
	goto L45
label L46
	call Keyboard.keyPressed 0
	pop local 0
label L47
	call Keyboard.keyPressed 0
	push constant 0
	eq
	not
	not
	if-goto L48
	goto L47
label L48
	push local 0
	push constant 32
	lt
	not
	push local 0
	push constant 126
	gt
	not
	and
	not
	if-goto L49
	push local 0
	call Output.printChar 1
	pop temp 0
	goto L50
label L49
label L50
	push local 0
	call String.backSpace 0
	eq
	not
	if-goto L51
	call Output.backSpace 0
	pop temp 0
	goto L52
label L51
label L52
	push local 0
	return
function Keyboard.readLine 3
	push argument 0
	call Output.printString 1
	pop temp 0
	push constant 0
	pop local 2
	push constant 65
	call String.new 1
	pop local 0
	call Keyboard.readChar 0
	pop local 1
label L53
	push local 1
	push constant 128
	eq
	not
	not
	if-goto L54
	push local 1
	call String.backSpace 0
	eq
	push local 0
	call String.length 1
	push constant 0
	gt
	and
	not
	if-goto L55
	push local 0
	call String.eraseLastChar 1
	pop temp 0
	goto L56
label L55
label L56
	push local 1
	call String.backSpace 0
	eq
	not
	not
	if-goto L57
	push local 0
	push local 1
	call String.appendChar 2
	pop temp 0
	goto L58
label L57
label L58
	call Keyboard.readChar 0
	pop local 1
	goto L53
label L54
	call Output.println 0
	pop temp 0
	push local 0
	return
function Keyboard.readInt 2
	push argument 0
	call Keyboard.readLine 1
	pop local 0
	push local 0
	call String.intValue 1
	pop local 1
	push local 1
	return
