function Screen.init 0
	push constant 1
	neg
	call Screen.setColor 1
	pop temp 0
	push constant 0
	return
function Screen.clearScreen 1
	push constant 16384
	pop local 0
label L97
	push local 0
	push constant 24575
	gt
	not
	not
	if-goto L98
	push local 0
	push constant 0
	call Memory.poke 2
	pop temp 0
	push local 0
	push constant 1
	add
	pop local 0
	goto L97
label L98
	push constant 0
	return
function Screen.setColor 0
	push argument 0
	pop static 0
	push constant 0
	return
function Screen.drawPixel 6
	push constant 16384
	pop local 3
	push argument 1
	push constant 32
	call Math.multiply 2
	push argument 0
	push constant 16
	call Math.divide 2
	add
	pop local 0
	push argument 0
	push argument 0
	push constant 16
	call Math.divide 2
	push constant 16
	call Math.multiply 2
	sub
	pop local 1
	call Math.getPowersOfTwo 0
	pop local 5
	push local 5
	push local 1
	add
	pop pointer 1
	push that 0
	pop local 2
	push local 3
	push local 0
	add
	call Memory.peek 1
	pop local 4
	push static 0
	push constant 1
	neg
	eq
	not
	if-goto L99
	push local 3
	push local 0
	add
	push local 2
	push local 4
	or
	call Memory.poke 2
	pop temp 0
	goto L100
label L99
	push local 3
	push local 0
	add
	push local 2
	not
	push local 4
	and
	call Memory.poke 2
	pop temp 0
label L100
	push constant 0
	return
function Screen.drawLine 22
	push argument 0
	pop local 0
	push argument 1
	pop local 1
	push argument 2
	push argument 0
	sub
	pop local 2
	push argument 3
	push argument 1
	sub
	pop local 3
	push local 2
	call Math.abs 1
	pop local 4
	push local 3
	call Math.abs 1
	pop local 5
	push constant 0
	pop local 6
	push constant 0
	pop local 7
	push constant 0
	pop local 8
	push constant 0
	pop local 9
	push constant 16384
	pop local 12
	push local 1
	push constant 32
	call Math.multiply 2
	push local 0
	push constant 16
	call Math.divide 2
	add
	pop local 10
	push argument 3
	push constant 32
	call Math.multiply 2
	push argument 2
	push constant 16
	call Math.divide 2
	add
	pop local 11
	push local 0
	push local 0
	push constant 16
	call Math.divide 2
	push constant 16
	call Math.multiply 2
	sub
	pop local 16
	push argument 2
	push argument 2
	push constant 16
	call Math.divide 2
	push constant 16
	call Math.multiply 2
	sub
	pop local 17
	call Math.getPowersOfTwo 0
	pop local 21
	push local 21
	push local 16
	add
	pop pointer 1
	push that 0
	pop local 14
	push local 21
	push local 17
	add
	pop pointer 1
	push that 0
	pop local 15
	push local 2
	push constant 0
	gt
	not
	if-goto L101
	push constant 1
	pop local 18
	goto L102
label L101
	push constant 1
	neg
	pop local 18
label L102
	push local 3
	push constant 0
	gt
	not
	if-goto L103
	push constant 1
	pop local 19
	goto L104
label L103
	push constant 1
	neg
	pop local 19
label L104
	push local 2
	push constant 0
	eq
	push local 3
	push constant 0
	eq
	or
	not
	if-goto L105
	push local 2
	push constant 0
	eq
	not
	if-goto L107
label L109
	push local 9
	call Math.abs 1
	push local 5
	lt
	not
	if-goto L110
	push local 0
	push local 1
	push local 9
	add
	call Screen.drawPixel 2
	pop temp 0
	push local 9
	push local 19
	add
	pop local 9
	goto L109
label L110
	goto L108
label L107
label L108
	push local 3
	push constant 0
	eq
	not
	if-goto L111
	push local 11
	push local 10
	sub
	push constant 0
	eq
	not
	if-goto L113
	push local 12
	push local 10
	add
	call Memory.peek 1
	pop local 13
	push local 18
	push constant 1
	eq
	not
	if-goto L115
	push local 15
	push local 15
	add
	push local 14
	sub
	pop local 20
	push static 0
	push constant 1
	neg
	eq
	not
	if-goto L117
	push local 12
	push local 10
	add
	push local 20
	push local 13
	or
	call Memory.poke 2
	pop temp 0
	goto L118
label L117
	push local 12
	push local 10
	add
	push local 20
	not
	push local 13
	and
	call Memory.poke 2
	pop temp 0
label L118
	goto L116
label L115
label L116
	push local 18
	push constant 1
	neg
	eq
	not
	if-goto L119
	push local 14
	push local 14
	add
	push local 15
	sub
	pop local 20
	push static 0
	push constant 1
	neg
	eq
	not
	if-goto L121
	push local 12
	push local 10
	add
	push local 20
	push local 13
	or
	call Memory.poke 2
	pop temp 0
	goto L122
label L121
	push local 12
	push local 10
	add
	push local 20
	not
	push local 13
	and
	call Memory.poke 2
	pop temp 0
label L122
	goto L120
label L119
label L120
	goto L114
label L113
	push local 18
	push constant 1
	eq
	not
	if-goto L123
	push local 14
	push constant 0
	gt
	not
	if-goto L125
	push local 14
	neg
	pop local 14
	goto L126
label L125
label L126
	push local 15
	push local 15
	call Math.abs 1
	add
	push constant 1
	sub
	pop local 15
	goto L124
label L123
label L124
	push local 18
	push constant 1
	neg
	eq
	not
	if-goto L127
	push local 14
	push local 14
	call Math.abs 1
	add
	push constant 1
	sub
	pop local 14
	push local 15
	push constant 0
	gt
	not
	if-goto L129
	push local 15
	neg
	pop local 15
	goto L130
label L129
label L130
	goto L128
label L127
label L128
	push local 12
	push local 10
	add
	call Memory.peek 1
	pop local 13
	push static 0
	push constant 1
	neg
	eq
	not
	if-goto L131
	push local 12
	push local 10
	add
	push local 14
	push local 13
	or
	call Memory.poke 2
	pop temp 0
	goto L132
label L131
	push local 12
	push local 10
	add
	push local 14
	not
	push local 13
	and
	call Memory.poke 2
	pop temp 0
label L132
	push local 10
	push local 18
	add
	pop local 10
label L133
	push local 10
	push local 11
	eq
	not
	not
	if-goto L134
	push static 0
	push constant 1
	neg
	eq
	not
	if-goto L135
	push local 12
	push local 10
	add
	push constant 1
	neg
	call Memory.poke 2
	pop temp 0
	goto L136
label L135
	push local 12
	push local 10
	add
	push constant 0
	call Memory.poke 2
	pop temp 0
label L136
	push local 10
	push local 18
	add
	pop local 10
	goto L133
label L134
	push local 12
	push local 11
	add
	call Memory.peek 1
	pop local 13
	push static 0
	push constant 1
	neg
	eq
	not
	if-goto L137
	push local 12
	push local 11
	add
	push local 15
	push local 13
	or
	call Memory.poke 2
	pop temp 0
	goto L138
label L137
	push local 12
	push local 11
	add
	push local 15
	not
	push local 13
	and
	call Memory.poke 2
	pop temp 0
label L138
label L114
	goto L112
label L111
label L112
	goto L106
label L105
label L139
	push local 7
	call Math.abs 1
	push local 4
	gt
	not
	push local 8
	call Math.abs 1
	push local 5
	gt
	not
	and
	not
	if-goto L140
	push local 0
	push local 7
	add
	push local 1
	push local 8
	add
	call Screen.drawPixel 2
	pop temp 0
	push local 6
	push constant 0
	lt
	not
	if-goto L141
	push local 7
	push local 18
	add
	pop local 7
	push local 6
	push local 5
	add
	pop local 6
	goto L142
label L141
	push local 8
	push local 19
	add
	pop local 8
	push local 6
	push local 4
	sub
	pop local 6
label L142
	goto L139
label L140
label L106
	push constant 0
	return
function Screen.drawRectangle 0
label L143
	push argument 1
	push argument 3
	gt
	not
	not
	if-goto L144
	push argument 0
	push argument 1
	push argument 2
	push argument 1
	call Screen.drawLine 4
	pop temp 0
	push argument 0
	push argument 3
	push argument 2
	push argument 3
	call Screen.drawLine 4
	pop temp 0
	push argument 1
	push constant 1
	add
	pop argument 1
	push argument 3
	push constant 1
	sub
	pop argument 3
	goto L143
label L144
	push constant 0
	return
function Screen.drawCircle 1
	push argument 2
	pop local 0
label L145
	push local 0
	push argument 2
	neg
	eq
	not
	not
	if-goto L146
	push argument 0
	push argument 2
	push argument 2
	call Math.multiply 2
	push local 0
	push local 0
	call Math.multiply 2
	sub
	call Math.sqrt 1
	sub
	push argument 1
	push local 0
	add
	push argument 0
	push argument 2
	push argument 2
	call Math.multiply 2
	push local 0
	push local 0
	call Math.multiply 2
	sub
	call Math.sqrt 1
	add
	push argument 1
	push local 0
	add
	call Screen.drawLine 4
	pop temp 0
	push local 0
	push constant 1
	sub
	pop local 0
	goto L145
label L146
	push constant 0
	return
function Screen.drawCircleOutline 1
	push argument 2
	pop local 0
label L147
	push local 0
	push argument 2
	neg
	eq
	not
	not
	if-goto L148
	push argument 0
	push argument 2
	push argument 2
	call Math.multiply 2
	push local 0
	push local 0
	call Math.multiply 2
	sub
	call Math.sqrt 1
	sub
	push argument 1
	push local 0
	add
	call Screen.drawPixel 2
	pop temp 0
	push argument 0
	push argument 2
	push argument 2
	call Math.multiply 2
	push local 0
	push local 0
	call Math.multiply 2
	sub
	call Math.sqrt 1
	add
	push argument 1
	push local 0
	add
	call Screen.drawPixel 2
	pop temp 0
	push local 0
	push constant 1
	sub
	pop local 0
	goto L147
label L148
	push constant 0
	return
