function Main.main 1
	push constant 0
	push constant 0
	push constant 2
	call Math.divide 2
	push constant 2
	call Math.multiply 2
	sub
	pop local 0
	push local 0
	call Output.printInt 1
	pop temp 0
	push constant 0
	return
