function Math.init 2
	push constant 0
	pop static 1
	push constant 0
	pop local 0
	push constant 1
	pop local 1
	push constant 16
	call Array.new 1
	pop static 2
label L65
	push local 0
	push constant 16
	lt
	not
	if-goto L66
	push static 2
	push local 0
	add
	pop temp 1
	push local 1
	push temp 1
	pop pointer 1
	pop that 0
	push local 1
	push local 1
	add
	pop local 1
	push local 0
	push constant 1
	add
	pop local 0
	goto L65
label L66
	push constant 0
	return
function Math.getPowersOfTwo 0
	push static 2
	return
function Math.multiply 4
	push constant 0
	pop local 3
	push constant 0
	pop local 2
	push argument 0
	call Math.abs 1
	pop local 1
label L67
	push local 3
	push constant 16
	lt
	not
	if-goto L68
	push argument 1
	call Math.abs 1
	push local 3
	call Math.bit 2
	pop local 0
	push local 0
	push constant 0
	eq
	not
	if-goto L69
	push local 1
	push local 1
	add
	pop local 1
	goto L70
label L69
	push local 2
	push local 1
	add
	pop local 2
	push local 1
	push local 1
	add
	pop local 1
label L70
	push local 3
	push constant 1
	add
	pop local 3
	goto L67
label L68
	push argument 0
	push constant 0
	lt
	push argument 1
	push constant 0
	gt
	and
	push argument 0
	push constant 0
	gt
	push argument 1
	push constant 0
	lt
	and
	or
	not
	if-goto L71
	push local 2
	neg
	return
	goto L72
label L71
	push local 2
	return
label L72
function Math.divide 3
	push argument 0
	call Math.abs 1
	pop local 0
	push argument 1
	call Math.abs 1
	pop local 1
	push local 1
	push local 0
	gt
	not
	if-goto L73
	push constant 0
	return
	goto L74
label L73
label L74
	push local 0
	push local 1
	push local 1
	add
	call Math.divide 2
	pop local 2
	push local 0
	push constant 2
	push local 1
	call Math.multiply 2
	push local 2
	call Math.multiply 2
	sub
	push local 1
	lt
	push argument 0
	push constant 0
	lt
	push argument 1
	and
	push constant 0
	gt
	push argument 0
	push constant 0
	gt
	push argument 1
	and
	push constant 0
	lt
	or
	and
	not
	if-goto L75
	push local 2
	push local 2
	add
	neg
	return
	goto L76
label L75
label L76
	push local 0
	push constant 2
	push local 1
	call Math.multiply 2
	push local 2
	call Math.multiply 2
	sub
	push local 1
	lt
	push argument 0
	push constant 0
	gt
	push argument 1
	and
	push constant 0
	gt
	and
	not
	if-goto L77
	push local 2
	push local 2
	add
	return
	goto L78
label L77
label L78
	push local 0
	push constant 2
	push local 1
	call Math.multiply 2
	push local 2
	call Math.multiply 2
	sub
	push local 1
	gt
	push argument 0
	push constant 0
	lt
	push argument 1
	and
	push constant 0
	gt
	push argument 0
	push constant 0
	gt
	push argument 1
	and
	push constant 0
	lt
	or
	and
	not
	if-goto L79
	push local 2
	push local 2
	add
	push constant 1
	add
	neg
	return
	goto L80
label L79
	push local 2
	push local 2
	add
	push constant 1
	add
	return
label L80
function Math.sqrt 5
	push constant 1
	pop local 0
	push argument 0
	pop local 1
	push argument 0
	push constant 182
	gt
	not
	if-goto L81
	push constant 182
	pop local 1
	goto L82
label L81
label L82
	push constant 0
	pop local 2
	push constant 0
	pop local 3
	push constant 0
	pop local 4
label L83
	push local 0
	push constant 1
	eq
	not
	if-goto L84
	push local 1
	push local 2
	add
	push constant 2
	call Math.divide 2
	pop local 3
	push local 3
	push local 3
	call Math.multiply 2
	pop local 4
	push local 4
	push argument 0
	gt
	not
	push local 1
	push local 3
	sub
	push constant 1
	gt
	not
	and
	not
	if-goto L85
	push constant 0
	pop local 0
	goto L86
label L85
label L86
	push local 4
	push argument 0
	gt
	not
	if-goto L87
	push local 3
	pop local 1
	goto L88
label L87
label L88
	push local 4
	push argument 0
	lt
	push local 1
	push local 3
	sub
	push constant 1
	gt
	and
	not
	if-goto L89
	push local 3
	pop local 2
	goto L90
label L89
label L90
	goto L83
label L84
	push local 3
	return
function Math.max 0
	push argument 0
	push argument 1
	gt
	not
	if-goto L91
	push argument 0
	return
	goto L92
label L91
	push argument 1
	return
label L92
function Math.min 0
	push argument 0
	push argument 1
	lt
	not
	if-goto L93
	push argument 0
	return
	goto L94
label L93
	push argument 1
	return
label L94
function Math.abs 0
	push argument 0
	push constant 0
	lt
	not
	if-goto L95
	push argument 0
	neg
	return
	goto L96
label L95
	push argument 0
	return
label L96
function Math.bit 1
	push static 2
	push argument 1
	add
	pop pointer 1
	push that 0
	push argument 0
	and
	pop local 0
	push local 0
	push constant 0
	eq
	not
	not
	if-goto L97
	push constant 1
	neg
	return
	goto L98
label L97
	push constant 0
	return
label L98
function Math.mod 1
	push argument 0
	push argument 1
	call Math.divide 2
	pop local 0
	push local 0
	push argument 1
	call Math.multiply 2
	pop local 0
	push argument 0
	push local 0
	sub
	pop local 0
	push local 0
	return
function Math.getRemainder 0
	push static 1
	return
