function Memory.init 0
	push constant 2048
	pop static 2
	push constant 2048
	pop static 0
	push constant 14335
	pop static 1
	push static 2
	push constant 0
	add
	pop temp 1
	push constant 0
	push temp 1
	pop pointer 1
	pop that 0
	push static 2
	push constant 1
	add
	pop temp 1
	push constant 14335
	push temp 1
	pop pointer 1
	pop that 0
	push constant 0
	return
function Memory.peek 1
	push constant 0
	pop local 0
	push local 0
	push argument 0
	add
	pop pointer 1
	push that 0
	return
function Memory.poke 1
	push constant 0
	pop local 0
	push local 0
	push argument 0
	add
	pop temp 1
	push argument 1
	push temp 1
	pop pointer 1
	pop that 0
	push constant 0
	return
function Memory.alloc 4
	push static 0
	pop local 0
	push constant 1
	pop local 2
label L9
	push local 2
	push constant 1
	eq
	not
	if-goto L10
	push local 0
	push constant 1
	add
	pop pointer 1
	push that 0
	push argument 0
	push constant 2
	add
	lt
	not
	not
	if-goto L11
	push local 0
	push constant 1
	add
	pop pointer 1
	push that 0
	push argument 0
	push constant 2
	sub
	sub
	pop local 3
	push static 2
	push local 0
	push local 3
	add
	add
	pop pointer 1
	push that 0
	pop local 1
	push constant 0
	pop local 2
	goto L12
label L11
label L12
	push local 0
	push constant 0
	add
	pop pointer 1
	push that 0
	push constant 0
	eq
	not
	if-goto L13
	push constant 6
	call Sys.error 1
	pop temp 0
	goto L14
label L13
label L14
	push local 0
	push constant 0
	add
	pop pointer 1
	push that 0
	pop local 0
	goto L9
label L10
	push local 0
	push constant 1
	add
	pop temp 1
	push local 0
	push constant 1
	add
	pop pointer 1
	push that 0
	push argument 0
	push constant 2
	add
	sub
	push temp 1
	pop pointer 1
	pop that 0
	push local 1
	push constant 2
	neg
	add
	pop temp 1
	push constant 0
	push temp 1
	pop pointer 1
	pop that 0
	push local 1
	push constant 1
	neg
	add
	pop temp 1
	push argument 0
	push temp 1
	pop pointer 1
	pop that 0
	push local 1
	return
function Memory.deAlloc 1
	push static 0
	pop local 0
label L15
	push local 0
	push constant 1
	add
	pop pointer 1
	push that 0
	push constant 0
	eq
	not
	not
	if-goto L16
	push local 0
	push constant 1
	add
	pop pointer 1
	push that 0
	pop local 0
	goto L15
label L16
	push local 0
	push constant 1
	add
	pop temp 1
	push argument 0
	push constant 1
	sub
	push temp 1
	pop pointer 1
	pop that 0
	push local 0
	push constant 1
	add
	pop pointer 1
	push that 0
	pop local 0
	push local 0
	push constant 1
	add
	pop temp 1
	push constant 0
	push temp 1
	pop pointer 1
	pop that 0
	push constant 0
	return
