function Screen.init 0
	push constant 1
	neg
	call Screen.setColor 1
	pop temp 0
	push constant 0
	return
function Screen.clearScreen 1
	push constant 16384
	pop local 0
label L1
	push local 0
	push constant 24575
	gt
	not
	not
	if-goto L2
	push local 0
	push constant 0
	call Memory.poke 2
	pop temp 0
	push local 0
	push constant 1
	add
	pop local 0
	goto L1
label L2
	push constant 0
	return
function Screen.setColor 0
	push argument 0
	pop static 0
	push constant 0
	return
function Screen.drawPixel 6
	push constant 16384
	pop local 4
	push constant 0
	pop local 2
	push constant 1
	pop local 3
	push argument 1
	push constant 32
	call Math.multiply 2
	push argument 0
	push constant 16
	call Math.divide 2
	add
	pop local 0
	push argument 0
	push argument 0
	push constant 16
	call Math.divide 2
	push constant 16
	call Math.multiply 2
	sub
	pop local 1
	push local 1
	push constant 15
	eq
	not
	if-goto L3
	push constant 32767
	not
	pop local 3
	goto L4
label L3
label L5
	push local 2
	push local 1
	lt
	not
	if-goto L6
	push local 3
	push constant 2
	call Math.multiply 2
	pop local 3
	push local 2
	push constant 1
	add
	pop local 2
	goto L5
label L6
label L4
	push local 4
	push local 0
	add
	call Memory.peek 1
	pop local 5
	push static 0
	push constant 1
	neg
	eq
	not
	if-goto L7
	push local 4
	push local 0
	add
	push local 3
	push local 5
	or
	call Memory.poke 2
	pop temp 0
	goto L8
label L7
	push local 4
	push local 0
	add
	push local 3
	not
	push local 5
	and
	call Memory.poke 2
	pop temp 0
label L8
	push constant 0
	return
function Screen.drawLine 10
	push argument 0
	pop local 0
	push argument 1
	pop local 1
	push argument 2
	push argument 0
	sub
	pop local 2
	push argument 3
	push argument 1
	sub
	pop local 3
	push local 2
	call Math.abs 1
	pop local 4
	push local 3
	call Math.abs 1
	pop local 5
	push constant 0
	pop local 6
	push constant 0
	pop local 7
	push constant 0
	pop local 8
	push constant 0
	pop local 9
	push local 2
	push constant 0
	eq
	push local 3
	push constant 0
	eq
	or
	not
	if-goto L9
	push local 2
	push constant 0
	eq
	push local 3
	push constant 0
	gt
	and
	not
	if-goto L11
label L13
	push local 9
	push local 5
	lt
	not
	if-goto L14
	push local 0
	push local 1
	push local 9
	add
	call Screen.drawPixel 2
	pop temp 0
	push local 9
	push constant 1
	add
	pop local 9
	goto L13
label L14
	goto L12
label L11
label L12
	push local 2
	push constant 0
	eq
	push local 3
	push constant 0
	lt
	and
	not
	if-goto L15
label L17
	push local 9
	push local 5
	lt
	not
	if-goto L18
	push local 0
	push local 1
	push local 9
	sub
	call Screen.drawPixel 2
	pop temp 0
	push local 9
	push constant 1
	add
	pop local 9
	goto L17
label L18
	goto L16
label L15
label L16
	push local 3
	push constant 0
	eq
	push local 2
	push constant 0
	gt
	and
	not
	if-goto L19
label L21
	push local 9
	push local 4
	lt
	not
	if-goto L22
	push local 0
	push local 9
	add
	push local 1
	call Screen.drawPixel 2
	pop temp 0
	push local 9
	push constant 1
	add
	pop local 9
	goto L21
label L22
	goto L20
label L19
label L20
	push local 3
	push constant 0
	eq
	push local 2
	push constant 0
	lt
	and
	not
	if-goto L23
label L25
	push local 9
	push local 4
	lt
	not
	if-goto L26
	push local 0
	push local 9
	sub
	push local 1
	call Screen.drawPixel 2
	pop temp 0
	push local 9
	push constant 1
	add
	pop local 9
	goto L25
label L26
	goto L24
label L23
	push constant 0
	pop local 9
label L27
	push local 9
	push local 2
	lt
	not
	if-goto L28
	push local 0
	push local 9
	add
	push local 1
	call Screen.drawPixel 2
	pop temp 0
	push local 9
	push constant 1
	add
	pop local 9
	goto L27
label L28
label L24
	goto L10
label L9
label L29
	push local 7
	push local 4
	gt
	not
	push local 8
	push local 5
	gt
	not
	and
	not
	if-goto L30
	push local 2
	push constant 0
	lt
	push local 3
	push constant 0
	lt
	and
	not
	if-goto L31
	push local 0
	push local 7
	sub
	push local 1
	push local 8
	sub
	call Screen.drawPixel 2
	pop temp 0
	goto L32
label L31
label L32
	push local 2
	push constant 0
	lt
	push local 3
	push constant 0
	gt
	and
	not
	if-goto L33
	push local 0
	push local 7
	sub
	push local 1
	push local 8
	add
	call Screen.drawPixel 2
	pop temp 0
	goto L34
label L33
label L34
	push local 2
	push constant 0
	gt
	push local 3
	push constant 0
	lt
	and
	not
	if-goto L35
	push local 0
	push local 7
	add
	push local 1
	push local 8
	sub
	call Screen.drawPixel 2
	pop temp 0
	goto L36
label L35
label L36
	push local 2
	push constant 0
	gt
	push local 3
	push constant 0
	gt
	and
	not
	if-goto L37
	push local 0
	push local 7
	add
	push local 1
	push local 8
	add
	call Screen.drawPixel 2
	pop temp 0
	goto L38
label L37
label L38
	push local 6
	push constant 0
	lt
	not
	if-goto L39
	push local 7
	push constant 1
	add
	pop local 7
	push local 6
	push local 5
	add
	pop local 6
	goto L40
label L39
	push local 8
	push constant 1
	add
	pop local 8
	push local 6
	push local 4
	sub
	pop local 6
label L40
	goto L29
label L30
label L10
	push constant 0
	return
function Screen.drawRectangle 0
label L41
	push argument 1
	push argument 3
	eq
	not
	not
	if-goto L42
	push argument 0
	push argument 1
	push argument 2
	push argument 1
	call Screen.drawLine 4
	pop temp 0
	push argument 1
	push constant 1
	add
	pop argument 1
	goto L41
label L42
	push constant 0
	return
function Screen.drawCircle 1
	push argument 2
	pop local 0
label L43
	push local 0
	push argument 2
	neg
	eq
	not
	not
	if-goto L44
	push argument 0
	push argument 2
	push argument 2
	call Math.multiply 2
	push local 0
	push local 0
	call Math.multiply 2
	sub
	call Math.sqrt 1
	sub
	push argument 1
	push local 0
	add
	push argument 0
	push argument 2
	push argument 2
	call Math.multiply 2
	push local 0
	push local 0
	call Math.multiply 2
	sub
	call Math.sqrt 1
	add
	push argument 1
	push local 0
	add
	call Screen.drawLine 4
	pop temp 0
	push local 0
	push constant 1
	sub
	pop local 0
	goto L43
label L44
	push constant 0
	return
function Screen.drawCircleOutline 1
	push argument 2
	pop local 0
label L45
	push local 0
	push argument 2
	neg
	eq
	not
	not
	if-goto L46
	push argument 0
	push argument 2
	push argument 2
	call Math.multiply 2
	push local 0
	push local 0
	call Math.multiply 2
	sub
	call Math.sqrt 1
	sub
	push argument 1
	push local 0
	add
	call Screen.drawPixel 2
	pop temp 0
	push argument 0
	push argument 2
	push argument 2
	call Math.multiply 2
	push local 0
	push local 0
	call Math.multiply 2
	sub
	call Math.sqrt 1
	add
	push argument 1
	push local 0
	add
	call Screen.drawPixel 2
	pop temp 0
	push local 0
	push constant 1
	sub
	pop local 0
	goto L45
label L46
	push constant 0
	return
